fastapi==0.110.1
uvicorn[standard]==0.29.0
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
alembic==1.13.1
python-dotenv==1.0.1
pydantic==1.10.14
typer==0.9.0
python-dateutil==2.9.0.post0
APScheduler==3.10.4
pandas==2.2.1
orjson==3.10.3
pytest==8.1.1
pytest-asyncio==0.23.6
httpx==0.27.0
SQLAlchemy-Utils==0.41.2
python-json-logger==2.0.7
